@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&display=swap');

:root {
    --main-bg-color: #181818;
    --text-color: #E8D6CB;
    --green-color: #44CF6C;
    --blue-color: #1985A1;
    --orange-color: #F26419;
    --purple-color: #772D8B;
    margin: 0;
    padding:0;
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--main-bg-color);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 24px;
    margin: 0 auto;
    font-weight: 300;
}

.datetime {
    padding: 9rem 17rem 2rem 0rem;
}

.dt-text {
    font-size: 54px;
    font-weight: 200;
}

.usage {
    padding: 7rem 5rem;
}

.usage-title {
    margin-bottom: 0;
    padding-bottom: 0;
}

.progress-row {
    display: flex;
    flex-direction: row;
}

#cpu-percent, #gpu-percent, #ram-percent, #vram-percent {
    margin-top: -0.2em;
    padding-left: 1em;
    flex-wrap: nowrap;
}

progress {
    width: 65vw;
    border-radius: 50%;
}

#cpu-usage-bar::-webkit-progress-bar {
    border-radius: 0.5rem;
}

#cpu-usage-bar::-webkit-progress-value {
    background: var(--green-color);
    border-radius: 0.5rem;
}

#gpu-usage-bar::-webkit-progress-bar {
    border-radius: 0.5rem;
}

#gpu-usage-bar::-webkit-progress-value {
    background: var(--blue-color);
    border-radius: 0.5rem;
}

#ram-usage-bar::-webkit-progress-bar {
    border-radius: 0.5rem;
}

#ram-usage-bar::-webkit-progress-value {
    background: var(--orange-color);
    border-radius: 0.5rem;
}

#vram-usage-bar::-webkit-progress-bar {
    border-radius: 0.5rem;
}

#vram-usage-bar::-webkit-progress-value {
    background: var(--purple-color);
    border-radius: 0.5rem;
}

.temps {
    display: flex;
    flex-direction: row;
}

.cpu-temp, .gpu-temp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
}

.temp-text-small {
    font-size: 16px !important;
}

#cpu-temp, #gpu-temp {
    font-size: 56px;
    margin: 0.25rem;
}

#cpu-temp {
    color: var(--green-color);
}

#gpu-temp {
    color: var(--blue-color);
}

.usage-title {
    margin: 0;
}

.usage-gb {
    margin: 0.5rem 0;
    padding-left: 0.5rem;
    font-weight: 300;
    font-size: 14px;
}

#ram-and-usage, #vram-and-usage {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}